@charset "utf-8";
@import url(https://fonts.google.com/specimen/Public+Sans);

:root {
    --primary-color-dark-blue: hsl(233, 26%, 24%);
    --primary-color-lime-green: hsl(136, 65%, 51%);
    --primary-color-bright-cyan: hsl(192, 70%, 51%);
    --neutral-color-grayish-blue:hsl(233, 8%, 62%);
    --neutral-color-light-gray:hsl(0, 0%, 98%);
    --neutral-color-lighter-gray:hsl(0, 0%, 94%);
    --neutral-color-white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Public Sans', 'Arial', 'Helvetica', 'sans-serif';
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
}
.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 60px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--neutral-color-white);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.home-link,
.navbar-link {
    color: var(--primary-color-dark-blue);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}
.home-link:focus,
.home-link:hover {
    color: var(--primary-color-lime-green);
}
.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.6em;
    border-radius: 5px;    
}
.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}
.navbar-logo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    background-color: var(--primary-color-lime-green);
}
.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon-bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: var(--neutral-color-grayish-blue);
}
.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--primary-color-dark-blue);
}
#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}
#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}
#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}
#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}
.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out,
                left 0.2s ease-in-out,
                right 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.navbar-menu.detached{
    left: 0;
    right: 0;
}
#navbar.opened .navbar-menu {
    background-color: rgba(44, 44, 44, 0.4);
    opacity: 3.9;
    visibility: visible;
}
.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--neutral-color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}
.detached .navbar-links {
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
}
.navbar-item {
    margin: 0.4em;
    width: 100%;
}
.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
.jumbroton-wrapper, .blog-wrapper{
    background-color: var(--neutral-color-light-gray);
}
.jumbotron{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
}
.jumbroton-text{
    width: 400px;
    flex-direction: column;
}
.display-3{
    font-weight: lighter;
    color: var(--primary-color-dark-blue);
    font-size: 50px;
    padding-bottom: 2px;
    text-align: center;
    line-height: 1.2em;
    padding-bottom: 5px;
}
.p-lead{
    color: var(--primary-color-dark-blue);
    line-height: 2.0em;
    font-size: 20px;
    padding-bottom: 2px;
    text-align: justify;
}
.jumbroton-img{
    height: auto;
    background-image: url('/images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}
.request-hide{
    display: none;
}
.request a{
    background-color: var(--primary-color-lime-green);
    border: 0px solid;
    border-radius: 15%;
    color: var(--neutral-color-white);
}
.jumbroton-request-btn{
    padding-top: 2px;
    width: 60%;
}
.request:hover{
    color: var(--primary-color-lime-green);
}
.about-wrapper{
    background-color: var(--neutral-color-lighter-gray);
}
.about-mybank{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.why-mybank{
    margin-top: 10px;
    width: 70%;
    text-align: center;
}
.why-mybank h3{
    font-size: 50px;
    line-height: 1.0em;
    font-weight: lighter;
    padding-bottom: 15px;
}
.why-mybank p{
    text-align: justify;
}
.mybank-reasons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}
.card{
    padding-bottom: 25px;
}
.mybank-blog{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
}
.mybank-article-header h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.figure-detail{
    text-align: left;
    padding: 5px 20px 15px 20px;
}
.figure-img img{
    width: fit-content;
    height: 300px;
}
.footer-wrapper{
    background-color: var(--primary-color-dark-blue);
}
.footer{
    display: flex;
    flex-direction: column;
    color: var(--neutral-color-white);
    width: 100%;
    margin-bottom: 2px;
    text-align: center;
    align-items: center;
    line-height: 2.0em;
    padding-top: 20px;
}
.footer-right{
   padding-top: 15px;
}
.footer-links ul{
    list-style-type: none;
}
.footer-logo{
    color: var(--neutral-color-white);
}
.ul-social {
    text-align: left;
    padding-top: 15px;
}
.li-social-links {
   display: inline-block;
   list-style: none;
}
.social {
    font-size: 0.9em;
    color: var(--neutral-color-white);
    padding:5px;
}
.footer-links a, .social{
    color: var(--neutral-color-white);
    text-decoration: none;
}
.footer-links a:hover, .social:hover{
   color: var(--primary-color-lime-green);
}

@media screen and (min-width: 768px) {
    .navbar-toggle {
    display: none;
    }    
    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
    }
    #navbar .navbar-links,
    #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
    }
    #navbar .navbar-link:last-child {
    margin-right: 0;
    }
    .jumbotron{
    display: flex;
    justify-content: space-between;
    background-color: var(--neutral-color-light-gray);
    flex-direction: row;
    height: 450px;
    width: auto;
    }
.jumbroton-text{
    margin-top: 120px;
    width: 40%;
    flex-direction: column;
}
.display-3{
    font-weight: bolder;
    color: var(--primary-color-dark-blue);
    font-size: 30px;
    padding-bottom: 2px;
    text-align: left;
}
.p-lead{
    color: var(--primary-color-dark-blue);
    line-height: 2.0em;
    font-size: 20px;
    padding-bottom: 2px;
}
.jumbroton-img{
    height: 550px;
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: repeat-x;
    background-position: unset;
    background-size: cover;
}

.jumbroton-request-btn{
    padding-top: 2px;
    width: 40%;
}
.request-hide{
    display: block;
}
.active{
    border-bottom:8px solid  var(--primary-color-lime-green);
}
    .about-mybank{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: unset;
    }
    .why-mybank{
        margin-top: 10px;
        width: 70%;
        text-align: left;
    }
    .why-mybank h3{
    font-size: 30px;
    line-height: 1.0em;
    font-weight: lighter;
    padding-bottom: 15px;
    }
    .mybank-reasons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        text-align: left;
    }
    .card{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .card-icon .fa{
        margin-bottom: 5px;
        width: 50px;
    }
    .card-header{
    color: var(--primary-color-dark-blue);
    padding-bottom: 2px;  
    }
    .card-body{
    line-height: 2.0em;
    }
    .mybank-blog{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    }
    .mybank-article-header{
    font-weight: bolder;
    font-size: 25px;
    }
    .mybank-articles{
    display: flex;
    flex-direction: row;
    }
    .figure{
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: var(--neutral-color-white);
    margin: 10px;
    }
    .figure-detail{
        padding: 10px;
    }
    .figure-img img{
        width: 220px;
        height: 200px;
    }
    .figure-header h5{
        color: var(--primary-color-dark-blue);
        font-size: 12px;
    }
    .figure-body h3{
       font-size: 20px;
       padding-top: 5px;
       padding-bottom: 5px;
    }
    .figure-body p{
        line-height: 2.0em;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--neutral-color-white);
        width: 100%;
        margin-bottom: 2px;
    }
    .footer-left{
        width: 65%;
    }
    .footer-right{
        width: 35%;
       padding-top: 12px;
    }
    .footer-left{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 15px;
    }
    .footer-left .col-4 {
        width: 30%;
    }
}
